@import url("https://use.typekit.net/yup2zpr.css");

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: #003E7E;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

h2 {
  color: #003E7E;
  font-weight: 900;
  font-family: jubilat, sans-serif;
  text-transform: none;
}

h2.bigger {
  font-size: 4.3rem;
}

h2.thinner {
  font-weight: 600;
}

ul li,
ol li {
  font-size: 1.875rem;
}

ul li {
  list-style-type: square;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainIcon {
  position: relative;
  top: 20px;
  margin-left: 20px;
}

.anim {
  position: relative;
}

.welcomeTo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6em;
  font-weight: 900;
  color: #003E7E;
  text-transform: uppercase;
  display: block;
  line-height: 59px;
  position: relative;
}

.welcome {
  display: inline;
}

.to {
  display: inline;
}

.narrow {
  max-width: 680px;
}

.experienceDay {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6em;
  font-weight: 900;
  color: #003E7E;
  text-transform: uppercase;
  display: block;
  line-height: 60px;
  position: relative;
  margin-bottom: 30px;
}

.experience {
  display: inline;
}

.day {
  display: inline;
}

.loader {
  margin: auto;
  display: block !important;
  top: 32vh;

}

#formName,
#formCollege {
  width: 380px;
  border-radius: 0;
}

input[type=button].continueBtn {
  font-family: jubilat, serif;
  color: white;
  background-color: #003E7E;
  border-radius: 0;
  font-weight: normal;
  text-transform: none;
  line-height: 0px;
  font-size: 1.2em;
  height: 40px;
  padding: 0 40px;
}

img {
  width: 100%;
}

p {
  font-size: 1.875rem;
}

p a,
ul li a {
  color: #134FC9;
}

p a:hover,
ul li a:hover {
  text-decoration: underline;
}

h2 a {
  color: #003E7E;
  text-decoration: none;
}

h2 a:hover {
  color: #003E7E;
}

.float-right {
  float: right;
}

a.forBtn {
  text-decoration: none;
}

.block {
  display: block;
}

.skyBack {
  background-color: #AFD5E9;
}

.img-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.grid {
  display: grid;
  grid-gap: 1vw;
}

.grid.collegeNav {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  grid-row-gap: 0;
}

@media (max-width: 1000px) {
  .grid.collegeNav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    grid-column-gap: 2vw;
  }
}

@media (max-width: 767px) {
  .grid.collegeNav {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
}

.grid.collegeNav .flipCard {
  height: 180px !important;
}

@media (max-width: 767px) {
  .grid.collegeNav .flipCard {
      height: 120px !important;
  }
}

.floatRight {
  float: right;
}

.yellowBack {
  background-color: #FFD200;
  padding: 2vw;
}

.grayBack {
  background-color: #CAD9E1;
  padding: 2vw;
}

.yellowCheck {
  top: 7px;
}

@media (max-width: 1200px) {
  .row.halfStack .three.columns {
    width: 48%;
  }

  .row.halfStack .three.columns:nth-child(odd) {
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .row.halfStack .three.columns {
    width: 100%;
    margin-left: 0;
  }
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.fullBackgroundImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px !important; /* This value can be tweaked */
}

@media (max-width: 550px) {
  .fullBackgroundImage {
    height: 250px !important; /* This value can be tweaked */
  }
}